registry=https://pkgs.dev.azure.com/webimrd/_packaging/WeBIM/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/webimrd/_packaging/WeBIM/npm/registry/:username=webimrd
//pkgs.dev.azure.com/webimrd/_packaging/WeBIM/npm/registry/:_password=NHQ0anpuZ2R5NGF0bW5sdTNoY2NtcHV3aGRuajZ3ZGF2M3J5eWR5aHJjdHUzbWt5dTZhYQ==
//pkgs.dev.azure.com/webimrd/_packaging/WeBIM/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/webimrd/_packaging/WeBIM/npm/:username=webimrd
//pkgs.dev.azure.com/webimrd/_packaging/WeBIM/npm/:_password=NHQ0anpuZ2R5NGF0bW5sdTNoY2NtcHV3aGRuajZ3ZGF2M3J5eWR5aHJjdHUzbWt5dTZhYQ==
//pkgs.dev.azure.com/webimrd/_packaging/WeBIM/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
